## tools artifacts ##

#idea:
*.iml
.idea

#emacs:
*~

#maven
classes.timestamp
target

#gwt compiler:
webapp/src/main/webapp/springdb/
webapp/src/main/webapp/WEB-INF/deploy/
webapp/war/
gwt-unitCache/

